{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
{% block scripts %}{% endblock %}
<body class="container pb-3">
    {% include 'partials/navbar.html' %}
    <div class="content-container">
        {% block content %} {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>
</html>