{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block styles %}{% endblock %}
</head>
{% block scripts %}{% endblock %}
<body class="container py-3d">
    <header>
        <a href="{% url 'home' %}" class="logo">MyGameList</a>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button">Cerrar sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="button">Iniciar sesión</a>
                <a href="{% url 'register' %}" class="button">Registrarse</a>
            {% endif %}
            <div class="search-bar">
                <input type="text" placeholder="Buscar  juegos...">
            </div>
        </div>
    </header>
    <div class="content-container">
        {% block content %} {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>
</html>