<div class="modal fade" id="editarModal-{{ review.id }}" tabindex="-1" aria-labelledby="editarModalLabel-{{ review.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'editar_review' review.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel-{{ review.id }}">Editar reseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-check2"></i> Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
