<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="sidebar">
            <div class="gen_button">
              <button  class="filtro-genero " data-genero="" {% if not genero_actual %}disabled{% endif %}>Todos</button>
              {% for genero in generos %}
                <button class="filtro-genero" data-genero="{{ genero.nombre }}" {% if genero.nombre == genero_actual %}disabled{% endif %}>{{ genero.nombre }}</button>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <h2 style="text-align: center">Juegos Disponibles</h2>
        <div class="game-container">
            {% for juego in page_obj %}
                {% include 'partials/game_card.html' %}
            {% empty %}
                <p>No hay juegos disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
<nav aria-label="Paginación">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ filtros_get }}">Anterior</a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
        <li class="page-item" >
          <a class="page-link" href="?page={{ num }}&{{ filtros_get }}">{{ num }}</a>
        </li>
      {% elif num == 1 or num == page_obj.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}&{{ filtros_get }}">{{ num }}</a>
        </li>
      {% elif num == page_obj.number|add:"-3" or num == page_obj.number|add:"3" %}
        <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ filtros_get }}">Siguiente</a>
      </li>
    {% endif %}
  </ul>
</nav>