{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
{% block scripts %}{% endblock %}
<body class="container py-3d">
    <div class="content-container">
        {% block content %} {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>
</html>