{% extends 'partials/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} MyGameList {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block content %}
    <div class="search-bar">
        <form action="{% url 'game_list' %}" method="get" class="search-bar">
            <input type="text" name="q" placeholder="Buscar juegos... " value="{{ request.GET.busqueda }}">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <hr>
    <div style="display: flex; justify-content: space-around;">
        <div>
            <h2>Filtrar por Género</h2>
            <div class="sidebar">
                <div class="gen_button">
                    <a href="{% url 'game_list' %}?q={{ request.GET.q }}"><button {% if not genero_actual %}disabled{% endif %}>Todos</button></a>
                    {% for genero in generos %}
                        <a href="{% url 'game_list' category=genero.nombre|slugify %}?q={{ request.GET.q }}">
                            <button {% if genero.nombre == genero_actual %}disabled{% endif %}>{{ genero.nombre }}</button>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <h2 style="text-align: center">Juegos Disponibles</h2>
        
            <div class="game-container">
                {% for juego in page_obj %}
                    {% include 'partials/game_card.html' %}
                {% empty %}
                    <p>No hay juegos disponibles.</p>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}?q={{ request.GET.q }}">Anterior</a>
                {% endif %}
            
                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}?q={{ request.GET.q }}">Siguiente</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
