{% extends 'partials/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} MyGameList {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-4">
      <form action="{% url 'game_list' %}" method="get" class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Buscar juegos..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="sidebar">
                <div class="gen_button">
                    <a href="{% url 'game_list' %}?q={{ request.GET.q }}"><button {% if not genero_actual %}disabled{% endif %}>Todos</button></a>
                    {% for genero in generos %}
                        <a href="{% url 'game_list' category=genero.nombre|slugify %}?q={{ request.GET.q }}">
                            <button {% if genero.nombre == genero_actual %}disabled{% endif %}>{{ genero.nombre }}</button>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <h2 style="text-align: center">Juegos Disponibles</h2>
        
            <div class="game-container">
                {% for juego in page_obj %}
                    {% include 'partials/game_card.html' %}
                {% empty %}
                    <p>No hay juegos disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <button onclick="window.location.href='?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}'">Anterior</button>
        {% else %}
            <button disabled>Anterior</button>
        {% endif %}
    
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <button onclick="window.location.href='?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}'">Siguiente</button>
        {% else %}
            <button disabled>Siguiente</button>
        {% endif %}
    </div>
{% endblock %}
