{% extends 'partials/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} MyGameList {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container my-4">
      <form action="{% url 'game_list' %}" method="get" class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Buscar juegos..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
    <hr>
    <div id="contenedor-juegos">
        {% include 'partials/partial_list.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/gameList.js' %}"></script>
{% endblock %}
