{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ juego.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body class="container pb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top px-4">
        <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">MyGameList</a>

        <!-- Botón del menú (para móviles) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUser">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido colapsable -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarUser">
            <ul class="navbar-nav align-items-center gap-2">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pagina_perfil' %}">
                  {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="Perfil de {{ user.username }}" class="rounded-circle" width="40" height="40">
                  {% else %}
                    <img src="{% static 'img/default.png' %}" alt="Avatar por defecto" class="rounded-circle" width="40" height="40">
                  {% endif %}
                </a>
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-light">Cerrar sesión</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'register' %}" class="btn btn-outline-light">Registrarse</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="content-container game-details-card">
        <div class="back-button">
            <a href="{% url 'game_list'%}">
                <h3>&longleftarrow;Volver</h3>
            </a>
        </div>
        <div class="p-5 border border-1 shadow rounded">
            <div>
                <h1>{{ juego.titulo }}</h1>
            </div>
            <div style="display: flex; margin-top: 20px;">
                <img class="game-details-image" src="{{ juego.portada }}" style="width: 300px" alt="Imagen de {{ juego.titulo }}">
                <div style="margin-left: 50px; margin-right: 10px">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <h5><strong>Fecha de lanzamiento: {{ juego.fecha_lanzamiento }} </strong></h5>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <p><strong>Rating:</strong> <span class="rating-badge">{{ juego.rating|floatformat:1 }}</span></p>
                    </div>
                    <p>
                        {{ juego.descripcion }}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h3>Juegos similares</h3>
            {% for juego in similares %}
                {% include 'partials/game_card.html' %}
            {% endfor %}
        </div>
    </div>
</body>
</html>