{% extends 'partials/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} MyGameList {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
{% endblock %}

{% block content %}
    <h2 class="p-5 border border-1 shadow rounded">Bienvenido a MyGameList</h2>
    <hr>
    <div class="container my-4">
        <form action="{% url 'game_list' %}" method="get" class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Buscar juegos..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <h3>Juegos mejor valorados</h3>
    <div class="game-container">
        {% for juego in videojuegos %}
            {% include 'partials/game_card.html' %}
        {% empty %}
            <p>No hay juegos disponibles.</p>
        {% endfor %}
    </div>
    <hr>
    <h3>Noticias recientes sobre videojuegos</h3>
    <div class="noticias-container">
        {% for noticia in noticias %}
            <div class="noticia">
                {% if noticia.image_url %}
                    <img src="{{ noticia.image_url }}" alt="Imagen noticia">
                {% endif %}
                <div class="contenido">
                    <h3>
                        <a href="{{ noticia.link }}" target="_blank" rel="noopener noreferrer">
                            {{ noticia.title }}
                        </a>
                    </h3>
                    <p class="meta">
                        🖋️ {{ noticia.creator.0|default:"Autor desconocido" }} |
                        📰 {{ noticia.source_id|capfirst }} |
                        🗓️ {{ noticia.pubDate|date:"d M Y H:i" }}
                    </p>
                    <p class="descripcion">
                        {{ noticia.description|default:"Sin descripción disponible."|truncatewords:25 }}
                    </p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
