{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="logo">MyGameList</a>
    </header>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Login">
        </form>
        <p>¿Nuevo en la página? <a href="{% url 'register' %}">Registrate aquí</a></p>
    </div>
</body>
</html>